<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Content type</th>
      <th>File size</th>
      <th><%= link_to "Home Page", main_app.root_url %></th>
      <th>User: <%= @user.name %></th>
      <th></th>
      <th>   </th>

    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.file_name %></td>
        <td><%= item.content_type %></td>
        <td><%= item.file_size %></td>
        <td><%= %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
